apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: "ubuntu-golden-dv"
  namespace: ${NAMESPACE}
spec:
  source:
    http:
      url: https://kubevirt.s3.us-west-2.amazonaws.com/ubuntu-20.04-server-cloudimg-amd64.qcow2
  pvc:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
    storageClassName: ${STORAGE_CLASS_NAME}
