apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  labels:
    kubevirt.io/vm: ubuntu-rwx-ovs
  name: ubuntu-rwx-ovs
  namespace: ${NAMESPACE}
spec:
  dataVolumeTemplates:
  - metadata:
      name: ubuntu-rwx-ovs-1-dv
    spec:
      pvc:
        accessModes:
        - ReadWriteMany
        resources:
          requests:
            storage: 10G
        storageClassName: ${STORAGE_CLASS_NAME}
      source:
        http:
          url: https://kubevirt.s3.us-west-2.amazonaws.com/ubuntu-20.04-server-cloudimg-amd64.qcow2
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/vm: ubuntu-rwx-ovs
    spec:
      domain:
        cpu:
          cores: 1
        devices:
          disks:
          - disk:
              bus: virtio
            name: datavolumevolume
          - disk:
              bus: virtio
            name: cloudinit
          interfaces:
          - name: ovs-ipam-net1
            bridge: {}
            ports:
              - port: 22
              - port: 80
              - port: 443
          - name: default
            masquerade: {}
        machine:
          type: ""
        resources:
          requests:
            memory: 4G
      terminationGracePeriodSeconds: 0
      networks:
      - name: ovs-ipam-net1
        multus:
          networkName: ovs-ipam-net
      - name: default
        pod: {}
      volumes:
      - dataVolume:
          name: ubuntu-rwx-ovs-1-dv
        name: datavolumevolume
      - cloudInitNoCloud:
          networkData: |-
            version: 2
            ethernets:
              enp1s0:
                dhcp4: true
                routes:
                  - to: 0.0.0.0/0
                    via: ${WHEREABOUTS_GATEWAY}
                    metric: 3
                nameservers:
                  addresses: [${KUBE_DNS_SERVER}, 8.8.8.8, 8.8.4.4]
                  search: [${NAMESPACE}.svc.cluster.local, svc.cluster.local, cluster.local, mpt1.pf9.io]
              enp2s0:
                dhcp4: true
                dhcp4-overrides:
                  use-routes: false
                  use-dns: false
                routes:
                  - to: 0.0.0.0/0
                    via: 10.0.2.1
                    table: 200
                  - to: 10.0.2.0/24
                    via: 10.0.2.1
                    table: 200
                  - to: ${POD_CIDR}
                    via: 10.0.2.1
                    table: 200
                  - to: ${SVC_CIDR}
                    via: 10.0.2.1
                    table: 200
                  - to: ${POD_CIDR}
                    via: 10.0.2.1
                  - to: ${SVC_CIDR}
                    via: 10.0.2.1
                routing-policy:
                  - from: ${POD_CIDR}
                    table: 200
                    priority: 100
                  - from: ${SVC_CIDR}
                    table: 200
                    priority: 110
          userData: |-
            #cloud-config
            password: ubuntu
            ssh_pwauth: True
            manage_etc_hosts: true
            chpasswd: { expire: False }
            ssh_authorized_keys:
              - ${PUB_SSH_KEY}
        name: cloudinit
