apiVersion: kubevirt.io/v1
kind: VirtualMachineInstance
metadata:
  name: vmi-fedora-ovs
  namespace: ${NAMESPACE}
spec:
  domain:
    devices:
      disks:
      - disk:
          bus: virtio
        name: containerdisk
      - disk:
          bus: virtio
        name: cloudinitdisk
      interfaces:
      #- name: default
      #  bridge: {}
      - name: ovs-ipam-net1
        bridge: {}
      rng: {}
    machine:
      type: ""
    resources:
      requests:
        memory: 1024M
  networks:
  #- name: default
  #pod: {}
  - name: ovs-ipam-net1
    multus:
      networkName: ovs-ipam-net
  terminationGracePeriodSeconds: 0
  volumes:
  - containerDisk:
      image: kubevirt/fedora-cloud-container-disk-demo:devel
    name: containerdisk
  - cloudInitNoCloud:
      userData: |
              #!/bin/bash
              echo "fedora" |passwd fedora --stdin
              echo "net.ipv6.conf.all.disable_ipv6 = 1" >> /etc/sysctl.conf
              echo "net.ipv6.conf.eth0.disable_ipv6 = 1" >> /etc/sysctl.conf
              sysctl -p
    name: cloudinitdisk
