# Set these variables. Do not put spaces before or after the `=`
#
PUB_SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMCPBuKnK5sJq2dJtiq97xQeOq9itGL6SpF1N+C8Oa5v root@jmiller662504"
#
# The following is needed for registering node to the control plane and joining the cluster
DDU_URL=https://cs-jmiller-ddu.platform9.net
ADMIN_USER_LOGIN=admin@platform9.net
ADMIN_USER_PASSWORD=somepw
REGION=RegionOne
SERVICE=service
CLUSTER_UUID=xxx-xxx

export PUB_SSH_KEY DDU_URL ADMIN_USER_LOGIN ADMIN_USER_PASSWORD REGION SERVICE CLUSTER_UUID
