export VCENTER_USER=YOUR_VCENTER_USER
export VCENTER_PASSWORD=YOUR_VCENTER_PASSWORD
export VCENTER_IP=YOUR_VCENTER_IP
export VCENTER_NAME=YOUR_VCENTER_NAME
export VCENTER_PORT=YOUR_VCENTER_PORT
export DATACENTER_NAME=YOUR_DATACENTER_NAME
