cephClusterSpec:
  storage:
    nodes:
      - name: "172.22.11.20"
        devices:
          - name: "vdb"
      - name: "172.22.11.21"
        devices:
          - name: "vdb"
      - name: "172.22.11.21"
        devices:
          - name: "vdb"
